name: Build test

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron:  '0 6 * * 1'

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install tools
        uses: ARM-software/cmsis-actions/vcpkg@v1

      - name: Activate Arm tool license
        uses: ARM-software/cmsis-actions/armlm@v1

      - name: Cache packs
        uses: actions/cache@v5
        with:
          key: cmsis-packs-download
          path: /home/runner/.cache/arm/packs

      - name: Initialize CMSIS pack root folder
        run: |
          cpackget init https://www.keil.com/pack/index.pidx

      - name: Build USB middleware binaries with AC6 compiler
        run: |
          cbuild USB_Device.csolution.yml --packs --context .+STM32F746NGHx --toolchain AC6
